main {
  padding: 1em;
}

pre.hljs {
  background: $blue;
}

.mermaid {
  border: 1px solid $grey;
  padding: 0.5em;
  text-align: center;
}

a {
  color: $red;
}

.active, .active:hover {
  color: rgba(0, 0, 0, 0.5)
}

.fa {
  display: inline-block;
  vertical-align: middle;
}
